<%- include('../templates/header') %>
<section class="dash-inner-sec">
    <div class="container-fluid">
        <div class="row">
             <div class="col-lg-5 col-md-12">
                 <div class="recent-transection-block ">
                  <div class="upper-block-coin ">
                    <div class="header-block clearfix">
                      <span class="name-side green-heading">Rowan Coin</span>
                      <span class="logo-side"><img src="assets/images/other/2.png"></span>
                    </div>
                    <div class="next-block">
                      <span class="left-side">RWN - 0.0000000</span>
                      <span class="equal">≅</span>
                      <span class="right-side">
                         <select name="food_selector" data-placeholder="USD - 0.0000000">
            								<option value="pancakes"><img src="assets/images/other/4.png">USD - 0.0000000</option>
            								<option value="pancakes"><img src="assets/images/other/4.png">USD - 0.0000000</option>
            								<option value="pancakes"><img src="assets/images/other/4.png">USD - 0.0000000</option>
            								<option value="pancakes"><img src="assets/images/other/4.png">FKP</option>
            							</select>
                      </span>
                    </div>
                  </div>
                   <div class="dashboard-box resent-box shadow-box">
                     <div class="create-wallet-block">
                           <h4 class="green-heading">Rowan Coin</h4>
                           <div class="resent-bottom-logo">
                           	<img src="assets/images/other/2.png" alt="logo">
                           </div>
                           
                           <p class="head-commn-text">
                             <% if(wallet_details !="" && wallet_details!= null) { %>
                           <%- typeof wallet_details.wallet_address !== 'undefined' ? wallet_details.wallet_address : '' %>
                           </p>
                          
                           <h5><%-balance%> ETH</h5>
                   
                            <div class="text-center mlti-btn">
                           <% if(wallet_details._id !="" && wallet_details._id !=null) { 
                              
                             var wallet=(wallet_details._id).toString();
                             var mykey = crypto.createHash('sha256').update(wallet).digest('base64');
                            %>

                            <% if(balance==0) { %>
                             <a href="javascript:void(0);" onclick="return (alert('You did not have Balance to send ETH.'))" class="btn btn-common light-green">Send</a>
                            <% } else { %>

                              <a href="/Send-rowan/<%-wallet_details._id %>" class="btn btn-common light-green">Send</a>
                              <% } %>

                              <% } %>
                               <a href="/Receive-rowan/<%-wallet_details._id %>" class="btn btn-common light-green">Receive</a>
                          </div>
                           
                          <div class="text-center">
                              <button class="btn btn-common light-green logout-btn" onclick="wallet_logout(' <%- typeof import_wallet_id !== 'undefined' ? import_wallet_id : '' %>')">Logout</button>
                          </div>
                        <% } else { %>
                           <p class="head-commn-text">No wallet presents.</p>
                          <% }%>

                        </div>
                 </div>
                 </div>
             </div>
             <div class="col-lg-7 col-md-12">
                <div class="transaction-box shadow-box ">
                  <h5 class="green-heading">Recent Transactions</h5>
                  <div class="table-responsive">
                     <table class="table transaction-table recent-trapnsaction-table">
                        <tbody>
                          <tr>
                            <th scope="row">22 Apr</th>
                            <td>Send ETH</td>
                            <td>2798ehgdgdsghj9832q787ysuueh</td>
                            <td>$175.5354354</td>
                            <td>1.0000000 ETH</td>
                          </tr>
                          <tr>
                            <th scope="row">22 Apr</th>
                            <td>Send ETH</td>
                            <td>2798ehgdgdsghj9832q787ysuueh</td>
                            <td>$175.5354354</td>
                            <td>1.0000000 ETH</td>
                          </tr>
                         <tr>
                            <th scope="row">22 Apr</th>
                            <td>Send ETH</td>
                            <td>2798ehgdgdsghj9832q787ysuueh</td>
                            <td>$175.5354354</td>
                            <td>1.0000000 ETH</td>
                          </tr>
                           <tr>
                            <th scope="row">22 Apr</th>
                            <td>Send ETH</td>
                            <td>2798ehgdgdsghj9832q787ysuueh</td>
                            <td>$175.5354354</td>
                            <td>1.0000000 ETH</td>
                          </tr>
                           <tr>
                            <th scope="row">22 Apr</th>
                            <td>Send ETH</td>
                            <td>2798ehgdgdsghj9832q787ysuueh</td>
                            <td>$175.5354354</td>
                            <td>1.0000000 ETH</td>
                          </tr>
                           <tr>
                            <th scope="row">22 Apr</th>
                            <td>Send ETH</td>
                            <td>2798ehgdgdsghj9832q787ysuueh</td>
                            <td>$175.5354354</td>
                            <td>1.0000000 ETH</td>
                          </tr>
                           <tr>
                            <th scope="row">22 Apr</th>
                            <td>Send ETH</td>
                            <td>2798ehgdgdsghj9832q787ysuueh</td>
                            <td>$175.5354354</td>
                            <td>1.0000000 ETH</td>
                          </tr>


                        </tbody>
                      </table>
                  </div>
                 
                </div>
             </div>
        </div>
    </div>
</section>

<%- include('../templates/footer') %>

<script>
  /*
Reference: http://jsfiddle.net/BB3JK/47/
*/

$('select').each(function(){
    var $this = $(this), numberOfOptions = $(this).children('option').length;
  
    $this.addClass('select-hidden'); 
    $this.wrap('<div class="select"></div>');
    $this.after('<div class="select-styled"></div>');

    var $styledSelect = $this.next('div.select-styled');
    $styledSelect.text($this.children('option').eq(0).text());
  
    var $list = $('<ul />', {
        'class': 'select-options'
    }).insertAfter($styledSelect);
  
    for (var i = 0; i < numberOfOptions; i++) {
        $('<li />', {
            text: $this.children('option').eq(i).text(),
            rel: $this.children('option').eq(i).val()
        }).appendTo($list);
    }
  
    var $listItems = $list.children('li');
  
    $styledSelect.click(function(e) {
        e.stopPropagation();
        $('div.select-styled.active').not(this).each(function(){
            $(this).removeClass('active').next('ul.select-options').hide();
        });
        $(this).toggleClass('active').next('ul.select-options').toggle();
    });
  
    $listItems.click(function(e) {
        e.stopPropagation();
        $styledSelect.text($(this).text()).removeClass('active');
        $this.val($(this).attr('rel'));
        $list.hide();
        //console.log($this.val());
    });
  
    $(document).click(function() {
        $styledSelect.removeClass('active');
        $list.hide();
    });

});
</script>
<script type="text/javascript">
function wallet_logout(val)
{
 var wallet_id=val;
    $.ajax({
            type: "post",
            url: "/Wallet-logout",
            data : {'wallet_id':wallet_id},
            success: function(data)
            {
              if(data=='success')
              {
                alert('Wallet logout successfully.');
                location.reload();
              }
              else 
              {
                alert('something is wrong please try again');
                location.reload();
              }
      
            }
        });
}
</script>
